<div>Lichess Swiss Tournament ID:</div>
<form [formGroup]="idForm">
    <input [formControlName]="lichessTournamentIdControlName" style="margin: 12px 0px;"/>
</form>
<button (click)="generateTable()">Generate player participations table</button>

<div *ngIf="status" style="margin: 12px 0px;;font-weight:bold;">{{ status }}</div>

<table *ngIf="playersGamesCount.length" cellpadding="5" border="1" style="margin-top: 20px;">
    <ng-container *ngFor="let playerGamesCount of playersGamesCount">
        <tr>
            <td>{{ playerGamesCount.player }}</td>
            <td>{{ playerGamesCount.gamesCount }}</td>
        </tr>
    </ng-container>
</table>